            .wide {
                border: 2px solid pink;
                /* background-color: black; */
                /* opacity: 82%; */
                padding-top: 0%;
            }
            /* #img {
                z-index: 0;
                max-width: 100%;
                height: auto;
} */
            
            .menu {}
            
            #imgdiv {
                background-image: url("/img/studio.jpg");
                z-index: -1;
                /* border: 1px solid black; */
                background-size: contain;
                background-repeat: no-repeat;
                height: 60em;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            
            #interact {
                z-index: 5;
                height: 45em;
                width: 100%;
                /* border: 2px solid red; */
                margin-top: -60em;
                /* background-color: red; */
                position: relative;
                /* padding-top: 2em; */
            }
            
            column:hover {
                color: green;
                text-decoration: underline overline
            }
            
            h1 {
                color: azure;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 350%;
                padding-left: 2em;
            }
            
            h2 {
                color: azure;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 200%;
                padding-left: 40em;
            }
            
            #changeMe {
                transition: all 2s ease-in-out;
            }
            /* #column1 {
 border: 1px solid pink;
 background-color: blue;
 opacity: 0.1;
                } */